pipeline/pl_metadata_framework_incremental_load_added.json
{
	"name": "pl_metadata_framework_incremental_load_added",
	"properties": {
		"activities": [
			{
				"name": "List tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "ds_adls_config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@string(item().table_type)",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "full_load",
										"activities": [
											{
												"name": "Copy data full load",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_azuresql_dyanamic_tables",
														"type": "DatasetReference",
														"parameters": {
															"table_name": {
																"value": "@item().table_name",
																"type": "Expression"
															},
															"schema": {
																"value": "@item().schema",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_dynamic",
														"type": "DatasetReference",
														"parameters": {
															"table_name": {
																"value": "@item().table_name",
																"type": "Expression"
															},
															"destination": {
																"value": "@item().destination",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "incremental",
										"activities": [
											{
												"name": "Copy data Orders incremental",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": "select  * from @{item().schema}.@{item().table_name} where lastupdated > (select max(LastUpdated) from [dbo].[WatermarkTable] where Tablename = 'Orders_Incremental')",
														"queryTimeout": "00:12:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "OrderID",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "OrderID",
																	"type": "Int32",
																	"physicalType": "INT_32"
																}
															},
															{
																"source": {
																	"name": "CustomerID",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "CustomerID",
																	"type": "Int32",
																	"physicalType": "INT_32"
																}
															},
															{
																"source": {
																	"name": "OrderDate",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "OrderDate",
																	"type": "DateTime",
																	"physicalType": "INT_96"
																}
															},
															{
																"source": {
																	"name": "Amount",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 10
																},
																"sink": {
																	"name": "Amount",
																	"type": "Decimal",
																	"physicalType": "DECIMAL"
																}
															},
															{
																"source": {
																	"name": "LastUpdated",
																	"type": "DateTime",
																	"physicalType": "datetime"
																},
																"sink": {
																	"name": "LastUpdated",
																	"type": "DateTime",
																	"physicalType": "INT_96"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_azuresql_dyanamic_tables",
														"type": "DatasetReference",
														"parameters": {
															"table_name": {
																"value": "@item().table_name",
																"type": "Expression"
															},
															"schema": {
																"value": "@item().schema",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_dynamic",
														"type": "DatasetReference",
														"parameters": {
															"table_name": {
																"value": "@item().table_name",
																"type": "Expression"
															},
															"destination": {
																"value": "@item().destination",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "scd",
										"activities": [
											{
												"name": "Copy data scd",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_azuresql_dyanamic_tables",
														"type": "DatasetReference",
														"parameters": {
															"table_name": {
																"value": "@item().table_name",
																"type": "Expression"
															},
															"schema": {
																"value": "@item().schema",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_dynamic",
														"type": "DatasetReference",
														"parameters": {
															"table_name": {
																"value": "@item().table_name",
																"type": "Expression"
															},
															"destination": "@item().destination"
														}
													}
												]
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}